.sp-force-hide {
    display: none;
  }
  
  .sp-form[sp-id="243730"] {
    display: block;
    background: #ffffff;
    padding: 15px;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
    font-family: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
  
  .sp-form[sp-id="243730"] input[type="checkbox"] {
    display: inline-block;
    opacity: 1;
    visibility: visible;
  }
  
  .sp-form[sp-id="243730"] .sp-form-fields-wrapper {
    margin: 0 auto;
    width: 550px;
  }
  
  .sp-form[sp-id="243730"] .sp-form-control {
    background: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    padding-left: 8.75px;
    padding-right: 8.75px;
    border-radius: 4px;
    height: 35px;
    width: 100%;
  }
  
  .sp-form[sp-id="243730"] .sp-field label {
    color: #444444;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
  }
  
  .sp-form[sp-id="243730"] .sp-button-messengers {
    border-radius: 4px;
  }
  
  .sp-form[sp-id="243730"] .sp-button {
    border-radius: 4px;
    background-color: #0089bf;
    color: #ffffff;
    width: auto;
    font-weight: 700;
    font-style: normal;
    font-family: Arial, sans-serif;
  }
  
  .sp-form[sp-id="243730"] .sp-button-container {
    text-align: left;
  }